<div>hi</div>
<div class="table-container">
  <cdk-virtual-scroll-viewport #frozen itemSize="50" class="frozen-table">
    <table>
      <tbody>
        <tr *cdkVirtualFor="let row of frozenItems">
          <td *ngFor="let col of frozenCols" class="example-item">
            {{row[col.field]}}
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="example-item">
      {{item}}
    </div> -->
  </cdk-virtual-scroll-viewport>
  <cdk-virtual-scroll-viewport #scroll itemSize="50" class="scroll-table">
    <!-- <div *cdkVirtualFor="let item of scrollItems" class="example-item">{{item}}</div> -->
    <table>
      <tbody>
        <tr *cdkVirtualFor="let row of scrollItems">
          <td *ngFor="let col of scrollCols" class="example-item">
            {{row[col.field]}}
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</div>

<h3>Frozen Columns</h3>
<div class="p-table-custom" *ngIf="expression">
  <p-table [columns]="scrollCols" [rows]="100" [frozenColumns]="frozenCols" [value]="virtualRows" [scrollable]="true"
    scrollHeight="500px" frozenWidth="500px" [virtualScroll]="true" (onLazyLoad)="loadDataOnScroll($event)"
    [lazy]="true" [totalRecords]="totalRecords" [virtualRowHeight]="34">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width:166.66px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
      <tr>
        <input type="text" </tr> </ng-template> <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>